---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Icon} from 'astro-icon';
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import MobileMenu from "../components/MobileMenu.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
    <main class="bg-black w-full">
        <nav class="flex flex-row items-center md:justify-between justify-center w-full md:px-8 md:py-8 py-8 px-4">
            <a class="flex flex-row items-center space-x-2.5" href="/">
                <img src="/gem.png" class="w-5 h-5" alt="gem">
                <h3 class="text-[16px] leading-[16px] tracking-[1px] text-[#FFFDF5] uppercase">
                    GEMSS
                </h3>
            </a>
            <button class="hidden btn-gradient whitespace-nowrap pl-4 pr-3 py-1.5 md:flex flex-row items-center gap-2 text-white stroke-white rounded-[50px]">
                Say hi
                <Icon name="wave" class="w-5 h-5"/>
            </button>
        </nav>
        <MobileMenu/>
        <div class="flex md:flex-row flex-col justify-between items-center md:p-8 md:gap-4 gap-0 p-4">
            <div class="md:max-w-lg md:text-start text-center">
                <p class="text-[#7A7A7A] md:text-[12px] text-[10px] font-semibold leading-[16px] tracking-[1px] uppercase">
                    Startup agency
                </p>
                <h1 class="md:text-[44px] text-[28px] md:leading-[48px] leading-[32px] text-white mt-3">
                    Speed-first growth services and outsource subscription for startups
                </h1>
                <p class="text-[#6F6F6F] md:text-[20px] text-[15px] md:leading-[27px] leading-[21px] mt-4">
                    Gemss is a collective of entrepreneurs, financial managers, designers, marketers, and developers,
                    with a huge experience in their field. We’ve developed five quick to profit services, that will
                    rapidly change your your business.
                </p>
                <div class="flex flex-row items-center justify-between rounded-[52px] bg-[#121212] px-4 py-3 mt-8">
                    <input placeholder="E-mail, Telegram, Signal, etc."
                           class="bg-transparent placeholder:text-[#A6A6A6] w-full text-white text-[16px] leading-[20px] focus:outline-none"/>
                    <button class="rounded-[50px] bg-white/5 text-white px-3 h-[36px] backdrop-blur-md">
                        Contact
                    </button>
                </div>
            </div>
            <div class="order-first md:order-none md:max-w-xl w-full md:mb-0 mb-10 relative h-[400px] lg:mr-20 md:mr-10 mr-0">
                <Badge text="Branding" className="absolute left-0 top-[100px]"/>
                <Badge text="Advertising" className="absolute left-1/2 top-0"/>
                <Badge text="Content" className="absolute right-0 top-[100px]"/>
                <Badge text="Product" className="absolute left-[40%] top-[180px]"/>
                <Badge text="Pitch Decks" className="absolute left-[10%] bottom-[60px]"/>
                <Badge text="Development" className="absolute right-[10%] bottom-0"/>
            </div>
        </div>

        <section id="cards" class="mt-20 mb-10 md:p-8 p-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <Card
                        title="Fast-made brands that are actually good"
                        description="Recognisable brand and domain name, logo, and visuals, that people understands, love, and share"
                        price="from $2,500"
                        priceDescription="1 to 4 weeks till end-result"
                />
                <Card
                        title="Facebook & Google Ads that boost sales"
                        description="Better data transition, meaningful key-messages, beautiful visuals, and high conversion"
                        price="from $1,500"
                        priceDescription="Depending on service"
                />
                <Card
                        title="Data-first pitch decks, investors will understand"
                        description="No-bullshit, data-first, fact-checked and beautiful"
                        price="from $2,500"
                        priceDescription="Price depends on services"
                        href="/pitch-deck"
                />
                <Card
                        title="Content that is actually interesting for audience"
                        description="Recognisable brand and domain name, logo, and visuals, that people understands, love, and share"
                        price="Soon"
                        priceDescription="Service is unavailable now"
                />
            </div>
        </section>
        <section id="subscription">
            <div class="bg-white md:py-10 py-8 md:px-8 px-4 flex md:flex-row md:gap-4 gap-5 flex-col justify-between">
                <div class="flex flex-col md:max-w-lg">
                    <div class="flex flex-row items-center justify-start">
                        <img src="/peer.png" class="h-12 w-12 rounded-full" alt="peer"/>
                        <img src="/peer.png" class="h-12 w-12 rounded-full -ml-3" alt="peer"/>
                        <img src="/peer.png" class="h-12 w-12 rounded-full -ml-3 z-10" alt="peer"/>
                        <span class="bg-black w-12 h-12 rounded-full text-[15px] leading-[20px] flex items-center justify-center text-white -ml-3 border-[3px] border-white">
                            +5
                        </span>
                    </div>
                    <h2 class="md:text-[44px] text-[28px] md:leading-[48px] leading-[32px] text-black mt-4">
                        Subscription-based product design and development
                    </h2>
                    <p class="md:text-[20px] text-[15px] leading-[21px] md:leading-[27px] text-[#6F6F6F] mt-4">
                        Research, conceptualisation, design, and developing for web, mobile, blockchain, and telegram
                        apps.
                        By designers, engineers, and product managers with more than 15 years of experience
                    </p>
                    <div class="flex flex-col justify-between p-4 bg-black/5 md:mt-8 mt-7">
                        <div class="flex flex-row justify-between">
                            <ul class="text-black md:text-[15px] text-[15px] leading-[20px] md:leading-[21px] space-y-2">
                                <li class="flex flex-row items-center gap-2">
                                    <Icon name="glass" class="w-5 h-5"/>
                                    <span class="text-[#E34343]">Two spots left</span>
                                </li>
                                <li class="flex flex-row items-center gap-2">
                                    <Icon name="asterisk" class="w-5 h-5"/>
                                    <span>Unlimited Requests</span>
                                </li>
                                <li class="flex flex-row items-center gap-2">
                                    <Icon name="asterisk" class="w-5 h-5"/>
                                    <span>2-3 day turnaround</span>
                                </li>
                                <li class="flex flex-row items-center gap-2">
                                    <Icon name="asterisk" class="w-5 h-5"/>
                                    <span>Designers, managers, and engineers</span>
                                </li>
                                <li class="flex flex-row items-center gap-2">
                                    <Icon name="asterisk" class="w-5 h-5"/>
                                    <span>Managed via Telegram or Linear</span>
                                </li>
                                <li class="flex flex-row items-center gap-2">
                                    <Icon name="asterisk" class="w-5 h-5"/>
                                    <span>Pause or cancel anytime</span>
                                </li>
                                <li class="flex flex-row items-center gap-2">
                                    <Icon name="asterisk" class="w-5 h-5"/>
                                    <span>Invite your team</span>
                                </li>
                            </ul>
                            <div class="flex flex-col items-end space-y-1">
                                <span class="text-[20px] leading-[24px]">$8450 / mo</span>
                                <span class="text-[12px] leading-[16px]">Pay daily or weekly</span>
                            </div>
                        </div>
                        <div class="flex flex-row items-center justify-between rounded-[52px] bg-black/10 px-2 py-1.5 pl-4 md:mt-10 mt-8">
                            <input placeholder="E-mail, Telegram, Signal, etc."
                                   class="bg-transparent placeholder:text-[#4E4E4E] w-full text-black text-[15px] leading-[20px] focus:outline-none"/>
                            <button class="rounded-[50px] bg-black text-white px-3 h-[36px] backdrop-blur-md whitespace-nowrap">
                                Let’s Talk
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-full md:h-[400px] pink-card relative md:mt-0 max-w-[600px] flex flex-col items-start justify-end">
                    <img class="max-h-[380px] aspect-[24/19] object-cover"
                         src="/show.png" alt=""></img>
                </div>
            </div>
        </section>
        <Footer/>
    </main>
</Layout>

<style>
    .btn-gradient {
        border: 0.5px solid rgba(255, 255, 255, 0.20);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 50%), rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(10px);
    }

    .pink-card {
        background: radial-gradient(60.55% 78.3% at 5.96% 28.17%, rgba(255, 153, 0, 0.20) 0%, rgba(202, 47, 227, 0.04) 100%), #F6F6F6;
    }
</style>
