---
import {Icon} from "astro-icon/components";
---
<footer class='flex md:flex-row flex-col items-center justify-start md:space-x-5 space-x-0 p-8 md:pb-8 pb-24 bg-white md:space-y-0 space-y-4'>
    <a href="https://thegaas.co" target="_blank" rel="noopener noreferrer"
       class="text-[16px] leading-[24px] flex flex-row items-center space-x-1">
        Made by GAAS
        <Icon name="globe" class="w-5 h-5"/>
    </a>
    <a href="/pos" target="_blank" rel="noopener noreferrer"
       class="text-[16px] leading-[24px] flex flex-row items-center space-x-1">
        Privacy Policy
    </a>
    <a href="/tos" target="_blank" rel="noopener noreferrer"
       class="text-[16px] leading-[24px] flex flex-row items-center space-x-1">
        Terms of Service
    </a>
</footer>