---
import {Icon} from "astro-icon";
---
<script>
    // 1. Select the button that triggers the menu and the menu itself
    const toggleMenuButton = document.getElementById('toggle-menu-button')
    const menu = document.getElementById('menu');
    const closeButton = document.getElementById('close-button');

    // 2. Add event listener to the button
    toggleMenuButton.addEventListener('click', () => {
        // 3. Toggle a CSS class on the menu to display or hide it
        menu.classList.toggle('hidden');
        document.body.style.overflow = 'hidden';
    });

    // 4. Add another event listener to the close button
    closeButton.addEventListener('click', () => {
        menu.classList.add('hidden');
        document.body.style.overflow = 'auto';
    });
</script>

<button class="md:hidden btn-gradient whitespace-nowrap pl-4 pr-3 py-1.5 flex flex-row items-center gap-2 text-white stroke-white rounded-[50px] h-[48px] fixed bottom-10 left-1/2 transform -translate-x-1/2 md:translate-x-0 md:translate-y-0 z-50"
        id="toggle-menu-button">
    Say hi
    <Icon name="wave" class="w-5 h-5"/>
</button>

<div class="hidden min-h-screen h-max flex flex-col justify-between items-center text-center pt-8 px-8 pb-10 bg-black fixed top-0 left-0 w-full z-50 inset-0"
     id="menu">

    <Icon name="ellipse" class="absolute top-0 opacity-0 animate-fade w-full aspect-square"/>

    <a class="flex flex-row items-center space-x-2.5" href="/">
        <Icon name="gem" class="w-5 h-5"/>
        <h3 class="text-[16px] leading-[16px] tracking-[1px] text-[#FFFDF5] uppercase">
            GEMSS
        </h3>
    </a>
    <div class="flex flex-col space-y-7">
        <div class="flex flex-col space-y-7 opacity-0 animate-fade text-center items-center">
            <a class="text-[28px] leading-[32px] text-white cursor-pointer">Telegram</a>
            <a class="text-[28px] leading-[32px] text-white cursor-pointer">Instagram</a>
            <a class="text-[28px] leading-[32px] text-white cursor-pointer">X (Twitter)</a>
            <a class="text-[28px] leading-[32px] text-white cursor-pointer">Email</a>
            <a class="text-[28px] leading-[32px] text-white cursor-pointer">Signal</a>
            <div class="text-white/50 text-[12px] leading-[24px] text-center flex flex-row items-center gap-1">
                Made by GAAS
                <Icon name="globe" class="w-5 h-5 inline-block stroke-white"/>
            </div>
        </div>

        <button class="btn-gradient whitespace-nowrap pl-4 pr-3 py-1.5 flex flex-row items-center justify-center gap-2 text-white stroke-white rounded-[50px] w-[130px] h-[48px]"
                id="close-button">
            Close
            <Icon name="back" class="w-5 h-4"/>
        </button>
    </div>
</div>

<style>
    .btn-gradient {
        border: 0.5px solid rgba(255, 255, 255, 0.20);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 50%), rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(10px);
    }

    .animate-fade {
        animation: fade 0.7s ease-in-out forwards;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    body {
        background: black;
    }

</style>