---
import { twMerge } from 'tailwind-merge';

interface Props {
  text?: string;
  className?: string;
}

const { text = '', className = '' } = Astro.props;
---

<span
  class={twMerge(
    'rounded-full text-xs text-[#AEAFB7] border border-[#DFE0E7] px-3 py-1',
    className
  )}
  >{text}
</span>
