---
interface Props {
  img: string;
  title: string;
  type: string;
  description: string;
}

const { img, title, type, description } = Astro.props;
---

<article class="flex max-w-[600px] flex-col gap-2">
  <img
    class="rounded-gemms-medium aspect-auto max-h-[400px]"
    src={img}
    width="600"
    height="400"
  />
  <div class="flex justify-between">
    <p class="text-gemms-dark">{title}</p>
    <p class="text-gemms-dark/[.32]">{type}</p>
  </div>
  <p class="opacity-[.32]">
    {description}
  </p>
</article>
