---
interface Props {
  title: string;
  description: string;
  priceDescription: string;
  price: string;
}

const { price, priceDescription, title, description } = Astro.props;
---

<div
  class="flex md:flex-row flex-col justify-between bg-black/10 p-4 text-start md:h-[300px] h-[220px]"
>
  <div class="flex flex-col md:space-y-2 space-y-1 w-[240px]">
    <p
      class="text-black md:text-[20px] text-[16px] md:leading-[24px] leading-[22px]"
    >
      {title}
    </p>
    <p
      class="text-[#6F6F6F] md:text-[15px] text-[12px] md:leading-[20px] leading-[17px]"
    >
      {description}
    </p>
  </div>
  <div class="flex flex-col md:space-y-2 space-y-1">
    <p class="text-black text-[20px] leading-[24px]">{price}</p>
    <p class="text-black text-[12px] leading-[16px]">{priceDescription}</p>
  </div>
</div>
