---
interface Props {
    title: string;
    description: string;
    priceDescription: string;
    price: string;
}

const {price, priceDescription, title, description} = Astro.props;
---

<div class="flex flex-col h-full bg-white/10">
    <img src="/card.png" alt="card" class="w-full h-[400px]">
    <div class="flex flex-row items-start justify-between px-6 py-5 mb-auto">
        <div class="flex flex-col space-y-2 w-[240px]">
            <p class="text-white text-[20px] leading-[24px]">{title}</p>
            <p class="text-[#6F6F6F] text-[15px] leading-[20px]">{description}</p>
        </div>
        <div class="flex flex-col space-y-2">
            <p class="text-white text-[20px] leading-[24px]">{price}</p>
            <p class="text-white text-[12px] leading-[16px]">{priceDescription}</p>
        </div>
    </div>
</div>