---
import Layout from '../../layouts/Layout.astro';
import {Icon} from "astro-icon/components";
import Footer from "../../components/Footer.astro";
import PricingCard from "../../components/PricingCard";
import ShowCard from "../../components/ShowCard.astro";
import Navbar from "../../components/Navbar.astro";
import ImageSlideshow from "../../components/ImageSlideshow.astro";
---

<Layout title="GEMSS: Persuasive Pitch Deck Design Services">
    <main class="bg-black w-full">
        <Navbar/>
        <ImageSlideshow slidesId="pitch-deck" generatedId="1" className="block md:hidden aspect-[16/11] w-full col-span-2 px-4"/>
        <div class="grid grid-cols-1 md:grid-cols-2 justify-between items-center md:p-8 p-4 relative">
            <div></div>
            <div class="lg:max-w-lg md:max-w-xs md:text-start text-center md:fixed static top-32 left-8 flex flex-col md:items-start items-center">
                <p class="text-[#7A7A7A] md:text-[12px] text-[10px] font-medium leading-[16px] tracking-[1px] uppercase">
                    Pitch Decks Design Service
                </p>
                <h1 class="md:text-[44px] text-[28px] md:leading-[48px] leading-[32px] text-white mt-3">
                    Persuasive pitch deck that investors believe in
                </h1>
                <p class="text-[#6F6F6F] md:text-[20px] text-[15px] md:leading-[27px] leading-[21px] mt-4">
                    We create pitch decks that cut to the chase, with a keen focus on data, math, marketing, and
                    strategy. Our decks are made by investors, for investors, using the language of numbers that we all
                    understand.
                </p>
                <a href="#calculator"
                   class="border border-white/20 text-white px-4 md:h-[36px] h-[28px] flex flex-row items-center text-[12px] leading-[20px] rounded-[60px] md:mt-8 mt-5">
                    Check Pricing
                </a>
            </div>
            <div class="grid grid-cols-2 md:gap-4 gap-1 w-full md:mt-0 mt-9">
                <ImageSlideshow slidesId="pitch-deck" generatedId="2"
                                className="md:block hidden max-h-[400px] w-full col-span-2"/>
                <div class="overflow-hidden md:h-[400px] h-[280px] bg-white/10 md:grid flex flex-col justify-between grid-cols-2 gap-6 col-span-2 md:px-6 px-3 py-4">
                    <div class="md:flex flex-col grid grid-cols-2 gap-2">
                        <p class="text-white md:text-[20px] text-[16px] md:leading-[24px] leading-[20px]">
                            In-depth market and product discovery
                        </p>
                        <p class="text-[#6F6F6F] md:text-[16px] text-[12px] md:leading-[22px] leading-[17px]">
                            We are conducting a deep dive into the product, customers, market trends, and competitors,
                            aiming to answer the questions that are on the minds of investors.
                        </p>
                    </div>
                    <div class="flex md:flex-col md:mx-0 -mx-16 flex-row md:flex-nowrap flex-wrap md:items-end justify-start md:gap-2 gap-0.5">
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px] md:-mt-6 mt-0">Product economy</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Competitors</span>
                        <span class="bg-white/40 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Go-to-market strategy</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Long-term strategy</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Market economy</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Business Model</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Blurb</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Onepager</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">VC Pipeline</span>
                    </div>
                </div>
                <ShowCard text="Clear and straight-forward messages"
                          description="Gathering data and turning it into a pre one of our"
                          bottomText="2-3.5"
                          bottomDescription="Average click trough rate"/>
                <ShowCard text="Engaging visuals that increase CTR"
                          description="Gathering data and turning it into a pre one of our "
                          bottomText="2.5"
                          bottomDescription="Average engagement rate"/>
                <ShowCard text="Almost perfect data transmission"
                          description="We know how to set up events in a way that"
                          bottomText="2X"
                          bottomDescription="More data is processed by Facebbok"/>
                <ShowCard text="Low-cost experiments to grow even further"
                          description="Gathering data and turning it into a pre one of our "
                          bottomText="10X"
                          bottomDescription="Average yearly growth of clients"/>
                <div class="overflow-hidden md:h-[400px] h-[300px] bg-white/10 flex flex-col justify-between gap-6 col-span-2 md:px-6 px-3 py-4 relative">
                    <div class="md:w-1/2 w-full grid grid-cols-2 gap-3 md:flex flex-col">
                        <p class="text-white md:text-[20px] text-[16px] md:leading-[24px] leading-[20px]">
                            Over 50+ projects for startups from allover the world
                        </p>
                        <p class="text-[#6F6F6F] md:text-[16px] text-[12px] md:leading-[22px] leading-[17px]">
                            We worked with companies, and investors from APAC, EMEA, US, Europe, Canada, Russia, and
                            Ukraine.
                        </p>
                    </div>
                    <div class="flex md:flex-col flex-row md:flex-nowrap flex-wrap md:items-start justify-start md:gap-2 gap-0.5 static md:absolute right-4 top-0">
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px] md:-mt-6 mt-0">E-commerce</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Architecture</span>
                        <span class="bg-white rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Artificial Intelligence</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Retail</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Automation</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Dev Tools</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Socials</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">Onepager</span>
                        <span class="bg-white/10 rounded-[60px] flex flex-row items-center text-[#1A1A1A] md:text-[12px] text-[10px] md:leading-[20px] leading-[16px] px-4 md:h-[40px] h-[26px]">VC Pipeline</span>
                    </div>
                    <div class="grid grid-cols-3 md:gap-2 gap-3 max-w-md">
                        <div>
                            <p class="md:text-[32px] text-[16px] md:leading-[40px] leading-[20px] text-white">10X</p>
                            <p class="text-[#6F6F6F] md:text-[12px] text-[12px] md:leading-[16px] leading-[16px] mt-1">
                                Average yearly growth of clients
                            </p>
                        </div>
                        <div>
                            <p class="md:text-[32px] text-[16px] md:leading-[40px] leading-[20px] text-white">16</p>
                            <p class="text-[#6F6F6F] md:text-[12px] text-[12px] md:leading-[16px] leading-[16px] mt-1">
                                Countries of the world
                            </p>
                        </div>
                        <div>
                            <p class="md:text-[32px] text-[16px] md:leading-[40px] leading-[20px] text-white">16</p>
                            <p class="text-[#6F6F6F] md:text-[12px] text-[12px] md:leading-[16px] leading-[16px] mt-1">
                                Countries of the world
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col justify-between items-start py-6 px-4 md:h-[400px] h-[240px] bg-white/10 col-span-2">
                    <img src="/guy.png" class="md:w-15 md:h-15 w-10 h-10" alt="guy">
                    <div>
                        <div class="flex flex-row items-center space-x-2">
                            <span class="bg-white rounded-full w-1 h-1"></span>
                            <span class="bg-white/20 rounded-full w-1 h-1"></span>
                            <span class="bg-white/20 rounded-full w-1 h-1"></span>
                            <span class="bg-white/20 rounded-full w-1 h-1"></span>
                            <span class="bg-white/20 rounded-full w-1 h-1"></span>
                        </div>
                        <p class="md:text-[20px] text-[16px] md:leading-[24px] leading-[20px] text-white mt-3">
                            We develop catchy and recognisable brands and logotypes, that people understands, love, and
                            share. It helps our clients to gain trust of their customers.
                        </p>
                        <p class="md:text-[16px] text-[12px] md:leading-[22px] leading-[17px] text-[#6F6F6F] mt-2">
                            Sergey Fedorov, Founder of make.solar
                        </p>
                    </div>
                </div>
                <PricingCard client:visible className="col-span-2"/>
            </div>
        </div>
        <Footer mode="dark"/>
    </main>
</Layout>

<style>
    .btn-gradient {
        border: 0.5px solid rgba(255, 255, 255, 0.20);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 50%), rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(10px);
    }

    .pink-card {
        background: radial-gradient(60.55% 78.3% at 5.96% 28.17%, rgba(255, 153, 0, 0.20) 0%, rgba(202, 47, 227, 0.04) 100%), #F6F6F6;
    }
</style>
